
body {
    height: 100%;
    width: 100%;
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background-image: url('../assets/castle-background.png');
    background-size: 100% 100%;
}

main {
    width: 100%;
    height: 100%;
}

.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
} */

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

/* footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
} */

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    text-align: center;
}

.hero-creator-container {
    padding: 0;
    margin: 10px;
}

.hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-img img {
    height: 425px;
    width: 320px;
}

.hero-info {
    margin: 10px;
}

.hero-name, .hero-HP {
    margin: 10px;
    font-size: 1.5rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    text-align: center;
}

.goblin-creator-container {
    padding: 0;
    margin: 10px;
}

.goblin-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.goblin-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    cursor: pointer;
}

.goblin-name, .goblin-HP {
    margin: 0;
    padding: 0;
}

.goblin-img {
    height: 125px;
    width: 100px;
}

.deadGoblin {
    opacity: .5;
    pointer-events: none;
}

.game-over {
    opacity: .2;
    pointer-events: none;
    transform: rotate(90deg);
}

button {
    cursor: pointer;
}

input {
    text-align: center;
}